<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872574258487-j7jr87v5miekhc93i3qtq0o80flr0fo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872574258487-j7jr87v5miekhc93i3qtq0o80flr0fo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872574258487-dmdk5jl8k5cpkpjobn1v0mfjceq308ge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEVd0tEQ3wgQC7q1-PcAKqWQTnj4NpYV8</string>
	<key>GCM_SENDER_ID</key>
	<string>872574258487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gitterhive.swaptact</string>
	<key>PROJECT_ID</key>
	<string>swaptact-988da</string>
	<key>STORAGE_BUCKET</key>
	<string>swaptact-988da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872574258487:ios:86be516b2b853961731eb2</string>
	<key>DATABASE_URL</key>
	<string>https://swaptact-988da.firebaseio.com</string>
</dict>
</plist>